/* hide default button and show contents only */
button {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}
    
/*
f097 fa-bookmark-o
f02e fa-bookmark
*/
button.active::before {
    content: "\f02e";
    font-family: FontAwesome;
    color: red;
}

button::before {
    content: "\f097";
    font-family: FontAwesome;
}