/*Display Stock Tables*/
.card-book {
   display:inline-block;
   width:100%;
   margin: 10px;
   margin-left: 20px;
}

.innerLeft {
   display:inline-block;
   margin-right:-4px;
   vertical-align:top;
   width:20%;
   text-align:left;
}

.card-img-left {
   max-width:80%;
   max-height:auto;
}

.innerRight {
   display:inline-block;
   vertical-align:top;
   width:80%;
   text-align:left;
   padding:5px;
}

.card-text-title{
   display: inline-block;
   font-size: 24px;
   font-weight: bold;
}

.card-text-title-content{
   display: inline-block;
   font-size: 24px;
   font-weight: bold;
}

.card-text-detail{
   display: inline-block;
   font-size: 14px;
   font-weight: bold;
}

.card-text-detail-content{
   display: inline-block;
   font-size: 14px;
}

.card-text-description{
   display: inline-block;
   font-size: 22px;
   font-weight: bold;
}

.card-text-description-content{
   display: inline-block;
   font-size: 18px;
}

.card-text-nostock{
   display: inline-block;
   color: red;
   font-size: 22px;
   font-weight: bold;
}
