/*Display Stock Tables*/
.cardStock {
   display:inline-block;
   width:100%;
   max-width:850px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.card-stock-details{
   display:inline-block;
   background-color: rgb(247, 240, 199);
   width:100%;
   max-width:1000px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.card-book-details{
   display:inline-block;
   background-color: #fff4a3;
   width:100%;
   max-width:1000px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.innerLeft {
   display:inline-block;
   margin-right:-4px;
   vertical-align:top;
   width:30%;
   text-align:left;
}
.innerRight {
   display:inline-block;
   vertical-align:top;
   width:70%;
   text-align:left;
   padding:10px;
}

.card-text-stock{
   display: inline-block;
   font-size: 22px;
   font-weight: bold;
}

.card-text-nostock{
   display: inline-block;
   color: red;
   font-size: 22px;
   font-weight: bold;
}

.card-text-details{
   color: #4c4a37; 
   font-family: 'Source Sans Pro', sans-serif; 
   font-size: 22px;
   font-weight: bold;
}

.card-text-nostock-details{
   color: red; 
   font-family: 'Source Sans Pro', sans-serif; 
   font-size: 22px;
   font-weight: bold;
}

.card-title-stock {
   color: #7c795d; 
   font-family: 'Trocchi', serif; 
   font-size: 26px; 
   font-weight: bolder; 
}